{% extends "index.html" %}

{% block header %}
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><h2><em>Afisha</em> Events</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="{% url 'users:logout' %}">Logout</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}


{% block content %}
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>welcome!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
                <h2><strong>Events you ♥:</strong></h2>
            </div>
          </div>
          {% for event_item in favorite_events.all %}
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="{% url 'events:event' pk=event_item.id %}"><img src="{{ event_item.media.url }}" height="400" width="200" alt=""></a>
                <div class="down-content">
                  <a href="{% url 'events:event' pk=event_item.id %}"><h4>{{ event_item.name }}</h4></a>
                  <h6>{{ event_item.price }}</h6>
                  <p>{{ event_item.description }}</p>
                  <span>{{ event_item.date_time }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
