{% extends "index.html" %}
{% load crispy_forms_tags %}


{% block header %}
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><h2><em>Afisha</em> Events</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
{% endblock %}

{% block content %}
	<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-26">Welcome</span>
                    {{ form|crispy }}
                    <br>
                    <input class="btn btn-success" type="submit" value="Login"/>

                    <div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>
                        <a class="txt2" href="{% url 'users:registration' %}">
                            Sign Up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--					<span class="login100-form-title p-b-48">-->
<!--						<i class="zmdi zmdi-font"></i>-->
<!--					</span>-->

<!--					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">-->
<!--						<input class="input100" type="text" name="email">-->
<!--						<span class="focus-input100"></span>-->
<!--					</div>-->

<!--					<div class="wrap-input100 validate-input" data-validate="Enter password">-->
<!--						<span class="btn-show-pass">-->
<!--							<i class="zmdi zmdi-eye"></i>-->
<!--						</span>-->
<!--						<input class="input100" type="password" name="pass">-->
<!--						<span class="focus-input100"></span>-->
<!--					</div>-->

<!--					<div class="container-login100-form-btn">-->
<!--						<input class="btn btn-success" type="submit" value="Login"/>-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
{% endblock %}
