{% extends "index.html" %}

{% block header %}
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><h2><em>Afisha</em> Events</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="{% url 'users:login' %}">Login</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}


{% block content %}
    <div class="page-heading products-heading header-text">
      <div class="container">
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
                <h2><strong>Sorry to see you go!</strong></h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image" >
              <h7>Sign in to continue using the website!</h7>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}