{% extends "index.html" %}
{% load crispy_forms_tags %}


{% block header %}
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><h2><em>Afisha</em> Events</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
{% endblock %}

{% block content %}
	<div class="limiter">
		<div class="container-login100">
				<form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="container-login100-form-btn">
						<input class="btn btn-success" type="submit" value="Submit"/>
					</div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}
