{% extends 'index.html' %}
{% load static %}


{% block content %}
    <div class="page-heading products-heading header-text">
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2><strong>{{ category.name }}</strong></h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image" >
              <h7>{{ category.description }}</h7>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Category events:</h2>
            </div>
          </div>
          {% for event_item in events_list %}
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="{% url 'events:event' pk=event_item.id %}"><img src="{{ event_item.media.url }}" height="400" width="200" alt=""></a>
                <div class="down-content">
                  <a href="{% url 'events:event' pk=event_item.id %}"><h4>{{ event_item.name }}</h4></a>
                  <h6>{{ event_item.price }}</h6>
                  <p>{{ event_item.description }}</p>
                  <span>{{ event_item.date_time }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
