{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>contact us</h4>
              <h2>let’s stay in touch</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Office</h2>
            </div>
          </div>
          <div class="col-md-8">

          <div id="map">
            <img src="{% static 'images/office_image.jpeg' %}" width="80%" height="330px" frameborder="0" style="border:0" allowfullscreen>
          </div>

          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4>About us</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur
                  similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur,
                  modi mollitia corporis ipsa voluptate corrupti.</p>
                  <h4>Our contacts:</h4>
              <ul class="social-icons">
                <li><a href="https://t.me/kolodezhnaya" target="_blank"><i class="fa  fa-paper-plane"></i></a></li>
                <li><a href="https://www.instagram.com/nastya.kolodezhnaya/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/anastasia-kolodezhnaya-95aa50197/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/NastyaKolodezhnaya" target="_blank"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
