{% extends 'index.html' %}
{% load static %}


{% block content %}
    <div class="page-heading products-heading header-text">
    </div>

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2><strong>{{ event.name }}</strong></h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image" >
              <img src="{{ event.media.url }}" alt="event-image" width="30%">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <ul class="social-icons">
                <h4>{{ event.date_time.date }}, {{ event.date_time.time }}</h4>
                <h4>{{ event.location }}</h4>
                <h4>{{ event.price }}</h4>
              </ul>
              <p>{{ event.description }}</p>
            </div>
<!--            {% if user.is_authenticated %}-->
<!--              <form action="{% url 'users:account' pk=user.id %}" method="post">-->
<!--                {% csrf_token %}-->
<!--                <input type="hidden" pk="{{ user.id }}" />-->
<!--                <button type="submit" class="btn btn-danger btn-lg">Add to favorites ♥</button>-->
<!--              </form>-->
<!--            {% else %}-->
<!--              <form action="{% url 'users:login' %}">-->
<!--                <button type="submit" class="btn btn-danger btn-lg">Add to favorites ♥</button>-->
<!--              </form>-->
<!--            {% endif %}-->
          </div>
        </div>
      </div>
    </div>

    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Similar events</h2>
            </div>
          </div>
          {% for event_item in events_list %}
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="{% url 'events:event' pk=event_item.id %}"><img src="{{ event_item.media.url }}" height="400" width="200" alt=""></a>
                <div class="down-content">
                  <a href="{% url 'events:event' pk=event_item.id %}"><h4>{{ event_item.name }}</h4></a>
                  <h6>{{ event_item.price }}</h6>
                  <p>{{ event_item.description }}</p>
                  <span>{{ event_item.date_time }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}


