<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Afisha | Events</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing
https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">


  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    {% block header %}
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><h2><em>Afisha</em> Events</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

<!--      Categories buttons-->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {% for category in categories_list %}
              <li>
                <a class="nav-link" href="{% url 'events:category' pk=category.id %}">{{ category.name }}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              {% endfor %}

<!--          Search bar-->
              <li>
                <form method="GET" class="form-inline tm-mb-80 tm-search-form" action="{% url 'events:search' %}">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button id="button-addon" type="submit" class="btn btn-link text-danger"><i class="fa fa-search"></i></button>
                    </div>
                    <input id="search" type="text" name="search" placeholder="Search.." aria-describedby="button-addon2" class="form-control border-0 bg-light">
                  </div>
                </div>
              </form>
              </li>

              {% if user.is_authenticated %}
                {% if user.first_name %}
                  <li><a class="nav-link" href="{% url 'users:account' pk=user.id %}">{{ user.first_name }}</i></a></li>
                {% else %}
                  <li><a class="nav-link" href="{% url 'users:account' pk=user.id %}">Account</i></a></li>
                {% endif %}

              {% else %}
                <li><a class="nav-link" href="{% url 'users:login' %}">Login</i></a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% endblock %}

    <!-- Page Content -->
    {% block content %}
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>have fun!</h4>
              <h2>all of the events in your city</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" onclick="filterSelection('all')">All events</li>
                  {% for category in categories_list %}
                    <li data-filter="">{{ category.name }}</li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                  {% for event in event_list %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="{% url 'events:event' pk=event.id %}"><img src="{{ event.media.url }}" alt="" height="400" width="200"></a>
                        <div class="down-content">
                          <a href="{% url 'events:event' pk=event.id %}"><h4>{{ event.name }}</h4></a>
                          <h6>{{ event.price }}</h6>
                          <p>{{ event.description }}</p>
                          <span>{{ event.date_time }}</span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
          </div>

<!--      Pagination-->
          <div class="col-md-12">
            <ul class="pages">
              {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
                  <li class="active"><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% else %}
                  <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2021 Anastasiia Kolodezhnaya
            
                - <a href="{% url 'contacts' %}">Contacts</a><br>
                Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
